# Baltimore Data Classification Modeling

### by: Tristan Dewing

## Importing Packages and Dataset

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [18]:
balt = pd.read_csv("../data/processed/processed.csv")
balt.head()

,...1,callDate,priority,district,description,callNumber,incidentLocation,Lat,Long,timeOfDay
0,11,2015-07-13,Non-Emergency,CD,FOLLOWUP,P151941014,1500 PENNSYLVANIA AV,39.302243,-76.633075,10.866667
1,16,2015-07-13,Medium,SE,DISORDERLY,P151941020,3300 E FAYETTE ST,39.295066,-76.570896,10.900000
2,17,2015-07-13,Low,SE,INVESTIGATE,P151941021,3300 E FAYETTE ST,39.295066,-76.570896,10.883333
3,20,2015-07-13,Low,NE,OTHER,P151941024,1600 STONEWOOD RD,39.348760,-76.587609,10.900000
4,22,2015-07-13,Medium,WD,BURGLARY,P151941026,1600 BRUCE CT,39.306700,-76.645785,10.900000

## Exploring Most Frequent Descriptions for Each Priority Level

In [19]:
balt.priority.value_counts()

Medium            350011
Low               192776
Non-Emergency      49713
High               28324
Out of Service        88
Emergency              9
Name: priority, dtype: int64

In [20]:
des_counts = balt.description.groupby(balt.priority).value_counts()

In [21]:
des_counts['Low'][:10]

description
OTHER          64888
INVESTIGATE    55474
LARCENY        28090
TRANSPORT      23998
INVEST          6750
ESCORT          2304
NOTIFY          2020
MISTAKE         1043
DWI              857
BAILOUT          708
Name: description, dtype: int64

In [22]:
des_counts['Medium'][:10]

description
DISORDERLY      249226
BURGLARY         58416
UNFOUNDED        17318
PROSTITUTION      6398
INVESTIGATE       5250
DWI               3770
LARCENY           1524
INVEST            1262
OTHER             1140
POSSIBLE           906
Name: description, dtype: int64

In [23]:
des_counts['High'][:10]

description
FIRE          10361
SHOOTING       5522
GAMBLING       3546
CUTTING        3064
CARJACKING     1648
PROWLER        1272
UNFOUNDED      1160
POSSIBLE        262
DISORDERLY      224
OTHER           142
Name: description, dtype: int64

In [24]:
des_counts['Non-Emergency'][:10]

description
OTHER        25303
FOLLOWUP     15202
COURT         4125
TRANSPORT     1825
C              778
G              630
J              370
ESCORT         348
D              222
E              222
Name: description, dtype: int64

In [25]:
des_counts['Emergency'][:10]

description
OTHER       8
POSSIBLE    1
Name: description, dtype: int64

In [26]:
des_counts['Out of Service'][:10]

description
LARCENY       25
OTHER         23
BURGLARY      15
DISORDERLY     5
TRANSPORT      5
UNFOUNDED      4
R              3
TOWED          2
AUTO           1
CARJACKING     1
Name: description, dtype: int64

In [27]:
balt.description = balt.description.astype('category')
balt["n_description"] = balt.description.cat.codes
balt.head()

,...1,callDate,priority,district,description,callNumber,incidentLocation,Lat,Long,timeOfDay,n_description
0,11,2015-07-13,Non-Emergency,CD,FOLLOWUP,P151941014,1500 PENNSYLVANIA AV,39.302243,-76.633075,10.866667,154
1,16,2015-07-13,Medium,SE,DISORDERLY,P151941020,3300 E FAYETTE ST,39.295066,-76.570896,10.900000,98
2,17,2015-07-13,Low,SE,INVESTIGATE,P151941021,3300 E FAYETTE ST,39.295066,-76.570896,10.883333,205
3,20,2015-07-13,Low,NE,OTHER,P151941024,1600 STONEWOOD RD,39.348760,-76.587609,10.900000,266
4,22,2015-07-13,Medium,WD,BURGLARY,P151941026,1600 BRUCE CT,39.306700,-76.645785,10.900000,54

In [28]:
# Import LabelEncoder
# from sklearn import preprocessing
#creating labelEncoder
# le = preprocessing.LabelEncoder()
# Converting string labels into numbers.
# wheather_encoded=le.fit_transform(wheather)
# print wheather_encoded

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB

X = balt['n_description']
y = balt['priority'].reshape(-1)
# X = balt[['n_description']]
# y = balt[['priority']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)
nb = GaussianNB()
y_pred = nb.fit(X_train, y_train).predict(X_test)
print("Number of mislabeled points out of a total %d points : %d" % (X_test.shape[0], (y_test != y_pred).sum()))

AttributeError: 'Series' object has no attribute 'reshape'

In [ ]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))